<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-app">
  <template>
    <style>
      :host {
        display: block;
      }
      </style>
      <iron-ajax auto="" id="obtenerCuentas"
                 url='http://localhost:3000/v5/cuentas/usuario/{{usuario}}'
                 handle-as="json"
                 on-response="mostrarCuenta">
      </iron-ajax>
    <h1>Cuentas del Usuario: {{usuario}}</h1>
    <h2>Número de cuenta : {{cuenta}}</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorApp extends Polymer.Element {
      static get is() { return 'visor-app'; }
      static get properties() {
        return {
            cuenta: {
            type: Object
          },
          usuario:{
            type:String
          }
        };
      }
      mostrarCuenta(data) {
        this.cuenta = data.detail.response[0].idcuenta
      }
    }

    window.customElements.define(VisorApp.is, VisorApp);
  </script>
</dom-module>
