<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-router/app-router.html">
<link rel="import" href="/src/loginmx-app/loginmx-app.html"/>
<link rel="import" href="/src/nuevo-usuario-app/nuevo-usuario-app.html"/>
<link rel="import" href="/src/nuevo-movimiento-app/nuevo-movimiento-app.html"/>
<link rel="import" href="/src/movimientos-app/movimientos-app.html"/>
<script src="../../bower_components/webcomponentsjs/webcomponents-loader.js"></script>


<dom-module id="manejador-app">
  <template>
  <style>
    :host{
      display: block;
    }
  </style>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
<body>
  <nav  id="barra" class="navbar navbar-expand-lg navbar-light bg-light" hidden$="{{logueado}}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/movimientos/cuentas/{{usuario}}">Movimientos</a>
      <a class="nav-item nav-link" href="/movimientos/nuevo/movimiento">Hacer Pago</a>
      <a class="nav-item nav-link" href="/logout">Cerrar Sesión</a>
      <!--<a class="nav-item nav-link" href="/nuevousuario">Alta Usuario</a>-->
    </div>
  </div>
  </nav>

  <app-router>
     <app-route path="/"></app-route>
     <app-route path="/login" import="/src/loginmx-app/loginmx-app.html"></app-route>
      <app-route path="/logout" import="/src/logoutmx-app/logoutmx-app.html"></app-route>
     <app-route path="/movimientos/cuentas/:usuario" import="/src/movimientos-app/movimientos-app.html"></app-route>
     <app-route path="/movimientos/:idMov" import="/src/detalle-movimiento-app/detalle-movimiento-app.html" id="detallemov" ></app-route>
     <app-route path="/movimientos/pagos/nuevo/:usuario" import="/src/detalle-movimiento-app/detalle-movimiento-app.html"></app-route>
     <app-route path="/movimientos/nuevo/movimiento" import="/src/nuevo-movimiento-app/nuevo-movimiento-app.html"></app-route>

   <!--  <app-route path="/nuevousuario" import="/src/nuevo-usuario-app/nuevo-usuario-app.html"></app-route>-->
     <app-route path="*" import="/src/page-not-found/page-not-found.html"></app-route>
   </app-router>
   <loginmx-app id="login" hidden$="{{onlogin}}"></loginmx-app>
  <movimientos-app id="movimientos" hidden$="true"></movimientos-app>
   <nuevo-usuario-app id="nuevousuario" hidden$="{{mostrarregistro}}"></nuevo-usuario-app>
    <logoutmx-app id="logout" hidden$="{{estatuslogout}}"></logoutmx-app>

</body>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ManejadorApp extends Polymer.Element {
      static get is() { return 'manejador-app'; }
      static get properties() {
        return {
          logueado:{
            type:Boolean,
            value: true
          },
          mostrarregistro:{
            type:Boolean,
            value:true
          },
          onlogin:{
            type:Boolean,
            value: false
          },
          usuario:{
            type: String
          },
          estatuslogout:{
            type:Boolean,
            value:true
          }
        };
      }

      ready(){
        super.ready()

        this.$.login.addEventListener('mostraraltacliente', e => {this.gestionaralta(e)})
        this.$.login.addEventListener('logueocorrecto', e => {this.logueo(e)})
        this.$.detallemov.addEventListener('ocultarlogin', e => {this.ocultarlogin(e)})
          this.$.detallemov.addEventListener('mostrarbarra', e => {this.mostrarbarra(e)})



        }
        enviarDatosAHijo(e) {
            console.info("SOY TU PADRE: " + e.detail.origen)
            console.log(this.$)
            this.$.receptor.procesarDatos(e.detail)
           }
           gestionaralta(e) {

             this.$.login.hidden=true;
             this.$.nuevousuario.hidden=false;
              }
          logueo(e){
          this.$.logueado= false;
          this.$.onlogin=true;
          this.$.login.hidden=true;
          console.log(e.detail.usuario);
          this.$.usuario=e.detail.usuario;
          this.$.movimientos.usuario=e.detail.usuario;
          this.$.movimientos.hidden=false;
          this.$.barra.hidden=false;

          }
          ocultarlogin(){
          console.log("llega hasta el padre");
          this.$.onlogin=true;
          this.$.login.hidden=true;

          }
          mostrarbarra(){
            console.log("llega hasta esta parte")
            this.$.barra.hidden=false;
          }

      }


    window.customElements.define(ManejadorApp.is, ManejadorApp);
  </script>
</dom-module>
