<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="detalle-movimiento-app">
  <template>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

      :host {
        display: block;
      }
      </style>
      <iron-ajax auto="" id="obtenerDetalle"
                 url="http://localhost:3000/v5/usuarios/{{idMov}}/movimientos"
                 handle-as="json"
                 on-response="mostrarDetalle">
      </iron-ajax>
<tbody>
<h1>Detalle movimientos</h1>
  <table class="table table-striped">
    <thead>
      <th> Movimiento </th>
      <th> Descripción
      </th>
      <th>
        Fecha
      </th>
      <th>
        Importe
      </th>
      <td>
        Ciudad
      </td>
    </thead>


  <template is="dom-repeat" items="{{movimientos}}">
<tr>
<td>{{item.idmov}}</td>
<td> {{item.descripcion}}</td>
<td> {{item.fecha}}</td>
<td> {{item.importe}}</td>
<td>
  <img width="130" height="150" class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?center=[[item.ciudad]]&zoom=6&scale=1&size=130x150&maptype=roadmap&format=png&visual_refresh=true" alt="Card image cap">
</td>
</tr>


  </template>
</tbody>
</table>




  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DetalleMovimientoApp extends Polymer.Element {
      static get is() { return 'detalle-movimiento-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'frontmx-app'
          },
          detalle: {
            type: Object
          },
          movimientos:{
            type: Array
          }
        };
      }
      mostrarDetalle(data) {
        this.detalle = data.detail.response
        this.movimientos=this.detalle[0].movimientos
        //lanzar evento para ocultar login
        console.log("estamos aqui");
        this.dispatchEvent(new CustomEvent('ocultarlogin'))
        this.dispatchEvent(new CustomEvent('mostrarbarra'))
      }
    }

    window.customElements.define(DetalleMovimientoApp.is, DetalleMovimientoApp);
  </script>
</dom-module>
