<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_componentes/polymer/lib/elements/dom-repeat.html">

<dom-module id="movimientos-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerCuentas"
               url="http://localhost:3000/v5/cuentas/usuario/{{usuario}}"
               handle-as="json"
               auto
               on-response="mostrarMovimientos">
    </iron-ajax>
<h1>Resumen de sus cuentas</h1>
    <div class="row">


    <table class="table table-striped">
      <thead>
        <th>Id Cuenta</th>
        <th>Saldo</th>
        <th>Ver detalles</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{cuentas}}">
        <tr on-click="mostrarInfoFila">
          <td>{{item.idcuenta}}</td>
          <td>{{item.saldo}}</td>
          <td><a class="btn btn-info" href="/movimientos/[[item.idcuenta]]">Ver detalles</a></td>
        </tr>
        </template>
      </tbody>
    </table>
    </div>
    <div class="row col-lg-12 col-sm-12">
      <div class="card-deck">


  </div>
  </div>

</div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosApp extends Polymer.Element {
      static get is() { return 'movimientos-app'; }
      static get properties() {
        return {
          cuentas: {
            type: Array
          },
          noCargados: {
            type: Boolean,
            value: true
          },
          ciudadSeleccionada: {
            type: String
          },
          usuario:{
            type: String
          }
        }
      }

      invocarPeticion() {
        this.$.obtenerCuentas.generateRequest();
      }
      mostrarMovimientos(data) {
        console.log(data.detail.response)
        this.cuentas = data.detail.response
        this.noCargados = false
      }
      mostrarInfoFila(e) {
        console.log(e)
        this.ciudadSeleccionada = e.model.item.ciudad
      }
    }
    window.customElements.define(MovimientosApp.is, MovimientosApp);
  </script>
</dom-module>
