<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="nuevo-usuario-app">
  <template>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    .register form {
       max-width: 40rem;
    }

    .register .field {
       margin-bottom: 1rem;
    }

    .register label {
       display: block;
    }

    .register input {
       display: block;
       padding: .5rem;
       width: 40%;
       box-sizing: border-box;
    }

    .register button {
       padding: .5rem;
    }

    /* TODO: Set invalid input elements background color to #f9b2b2, when the form has the "submission-attempted" class */
    .register div.submission-attempted input:invalid{
        background-color: #f9b2b2;
        outline: none;
    }
    </style>
<iron-ajax
        id="AjaxPost"
        url="http://localhost:3000/v5/usuarios"
        method="POST"
        content-type="application/json"
        handle-as="json"
        on-response="_handleAjaxPostResponse"
        on-error="_handleAjaxPostError"
></iron-ajax>
<iron-ajax
        id="AjaxObtenerUsuarios"
        url="http://localhost:3000/v5/usuarios"
        auto
        handle-as="json"
        on-response="_handleAjaxObtenerUsuarios"

></iron-ajax>
<section class="page-section register">
           <div class="container">
<div id="divAlta" style="display:block">


<h1>Alta usuario</h1>
 <div id="registration-form" class="submission-attempted">
  <div class="field">
<label>Usuario:</label>
<input required="required" id="objusuario" type="text" placeholder="Ingresa un usuario" value={{usuario::input}} autofocus="autofocus">
  </div>
<div>
  <label>Email:</label>
<input required="required" id="objemail" type="email" placeholder="Ingresa un email válido" value={{mail::input}}>
</div>
<div>
<label>Teléfono</label>
<input required="required" id="objtelefono" type="text" placeholder="Ingresa un teléfono" value={{telefono::input}}>
</div>
<div>
  <label>Contraseña</label>
  <input required="required" id="objpassword" type="password" pattern="[a-zA-Z0-9]{5,}" title="secuencia incorrecta" placeholder="password" value={{password::input}} >
</div>
<div>
    <label>Confirme la contraseña:</label>
  <input required="required" id="objconfpassword" type="password" placeholder="Confirmación" pattern="[a-zA-Z0-9]{5,}" title="secuencia incorrecta" >
</div>


<button class="btn btn-info" on-click="AjaxPost">Crear Usuario</button>
</div>
</div>
<h1>{{objresponse}}</h1>

</div>
        </section>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NuevousuarioApp extends Polymer.Element {
      static get is() { return 'nuevo-usuario-app';}
      static get properties() {
        return {
          usuario: {
            type: String
          },
          mail:{
            type: String
          },
          password: {
            type: String
        },
        telefono:{
          type: String
        },
        objresponse:{
          type: String
        },
        lstusuarios:{
          type: Array
        },
        cuentamax:
        {type: Number
        }

      };
    }
      AjaxPost(){
        this.$.AjaxPost.body={
      "idcuenta": this.cuentamax+1,
      "usuario": this.usuario,
      "password": this.password,
      "email": this.mail,
      "saldo": 0,
      "telefono": this.telefono,
      "estatus": false,
      "movimientos": [{}]};
    this.$.AjaxPost.generateRequest();

      }
      _handleAjaxPostResponse(data){
          //console.log(data.detail.response);
          this.objresponse="Usuario Creado";
          this.$.divAlta.style.display='none';
      }
      _handleAjaxPostError(data){
        console.log(data.detail.response);
      }
      _handleAjaxObtenerUsuarios(data){
      //  console.log(data.detail.response);
        this.lstusuarios=data.detail.response;
        var cuentaaux=0;
        var cuenta=0;
        for(var i=0; i<this.lstusuarios.length;i++){
          cuenta=this.lstusuarios[i].idcuenta;

          if(cuenta>cuentaaux){
            this.cuentamax=cuenta;
            }
        }
      }

    }


    window.customElements.define(NuevousuarioApp.is, NuevousuarioApp);
  </script>
</dom-module>
