<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../nuevo-usuario-app/nuevo-usuario-app.html" />

<dom-module id="loginmx-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }

    </style>
    <iron-ajax id="hacerLogin"
               url="http://localhost:3000/v5/usuarios/login"
               method="POST"
               handle-as="text"
               on-response="mostrarResultadoLogin">
             </iron-ajax>

  <div id="divacceso" style="visibility:{{prop2}}">
    <h1>Bienvenido a su banco!</h1>
    <div id="divimgportada">
    <img id="imgportada" src="/img/Portada.gif">
    </div>
<br />
<br />
<h1>{{mensaje}}</h1>
    <div>
      <label for="">[[etuser]]</label>
      <input required="required" type="text" placeholder="usuario" value={{valuser::input}}>
    </div>
    <div>
      <label for="">[[etpassword]]</label>
      <input required="required" type="password" placeholder="Password" value={{valpassword::input}}>
    </div>
    <div>
      <button class="btn btn-info" on-click="hacerLogin">Ingresar</button>
      <button class="btn btn-warning" on-click="mostraraltacliente">Registro</button>
    </div>
    </div>
    <nuevo-usuario-app id="componente-alta" style="visibility:{{prop1}}"></nuevo-usuario-app>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginmxApp extends Polymer.Element {
      static get is() { return 'loginmx-app'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          valuser: {
            type:String
          },
          valpassword: {
            type: String
          },
          noTengoProductos: {
            type: Boolean,
            value: true
          },
          prop1:{
            type: String,
            value:"hidden"
          },
          prop2:{
            type: String,
            value:"visible"
          },
          mensaje:{
            type: String,
            value:""
          }
        };
      }
      hacerLogin() {
        //console.log("Login correcto de " + this.valuser)
        this.$.hacerLogin.headers.usuario=this.valuser
        this.$.hacerLogin.headers.password=this.valpassword
        //headers='{"usuario":{{"USR438537"}},"password":"ItqAgkS"}'
        console.log(this.valuser)
        console.log(this.valpassword)

        this.$.hacerLogin.generateRequest();
      }
      invocarPeticion() {
        this.$.obtenerProductos.generateRequest();
      }
      /*mostrarProductos(data) {
        console.log(data.detail.response.value)
        this.productos = data.detail.response.value
        this.noTengoProductos = false}*/

      mostrarResultadoLogin(data) {
        if (data.detail.response=="Ha iniciado sesion correctamente"){
          //inicializar componente movimientos enviano valuser

        //console.log("guardamos en local strorale")
          localStorage.setItem("sesionusuario",this.valuser);
          this.dispatchEvent(new CustomEvent('logueocorrecto',{detail:{usuario:this.valuser}}))

        }
        this.mensaje=data.detail.response;
      }

      mostraraltacliente()
      {
      //lanzar evento para ocultar login y mostrar alta usuario
      this.dispatchEvent(new CustomEvent('mostraraltacliente',{detail:{origen:"TechU",anno:2018}}))

      }
    }
    window.customElements.define(LoginmxApp.is, LoginmxApp);
  </script>
</dom-module>
