<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<style is="custom-style" include="demo-pages-shared-styles">
 paper-dropdown-menu, paper-listbox {
   width: 250px;
 }
 paper-dropdown-menu {
   height: 200px;
   margin: auto;
   display: block;
 }
</style>
<dom-module id="nuevo-movimiento-app">

  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<iron-ajax
        id="ObjNuevoMovimiento"
        url="http://localhost:3000/v5/movimientos/{{idcuenta}}"
        method="POST"
        content-type="application/json"
        handle-as="json"
        on-response="_handleResponse"
        on-error="_handlePostError"
></iron-ajax>
<iron-ajax id="obtenerCuentas"
           url="http://localhost:3000/v5/cuentas/usuario/{{usuario}}"
           handle-as="json"
           auto
           on-response="mostraCuentas">
</iron-ajax>

<h1>Comprar tiempo aire</h1>


<paper-dropdown-menu id="lstcuentas" name="lstcuentas" label="Seleccione la cuenta de retiro" >
        <paper-listbox label="cuentas" slot="dropdown-content" class="dropdown-content" attr-for-selected="value" selected={{idcuenta}} >
          <template is="dom-repeat" items="[[cuentas]]">
            <paper-item  on-tap="_categoryHandler" value={{item.idcuenta}}>{{item.idcuenta}}</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>

<paper-dropdown-menu class = "dropdown-content" label="Compañia" >
          <paper-listbox slot="dropdown-content" class="dropdown-content" attr-for-selected="value" selected={{compania}}>
            <paper-item value="Telcel">Telcel</paper-item>
            <paper-item value="Movistar">Movistar</paper-item>
          </paper-listbox>
</paper-dropdown-menu>
<paper-dropdown-menu class = "dropdown-content" label="Monto" >
          <paper-listbox slot="dropdown-content" class="dropdown-content" attr-for-selected="value" selected={{monto}}>
            <paper-item value="50">50</paper-item>
            <paper-item value="100">100</paper-item>
            <paper-item value"200">200</paper-item>
          </paper-listbox>
</paper-dropdown-menu>

<button class="btn btn-info" on-click="NuevoMovimiento">Realizar compra</button>
<br />
  <h3>{{resultado}}</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NuevomovimientoApp extends Polymer.Element {
      static get is() { return 'nuevo-movimiento-app';}
      static get properties() {
        return {
          compania: {
            type: String
          },
          monto:{
            type: String
          },
          ciudad: {
            type: String,
            value: 'Ciudad de México'
        },
        fecha: {
          type: String
       },
       cuentas:{
         type:Array
       },
       usuario:{
         type: String,
         value:localStorage.getItem("sesionusuario")
       },
       idcuenta:{
      type:String
    },
    resultado:{
      type:String,
      value:""
    }


      };
    }



    NuevoMovimiento(){
        var dt = new Date();
        console.log("compania:"+this.compania);
        console.log("monto:"+this.monto);
       console.log("cuenta seleccionada:"+this.idcuenta);

        console.log(dt);
      this.$.ObjNuevoMovimiento.body={
    "descripcion": this.compania,
    "importe": this.monto,
    "ciudad": this.ciudad,
    "fecha": dt,
    }
    this.$.ObjNuevoMovimiento.generateRequest();
}
mostraCuentas(data){
  this.cuentas=data.detail.response;
}


        _handleResponse(data){
          console.log("ha respondido el servicio");
          console.log(data.detail.response);
          this.resultado="Transacción Realizada";

      }
      _handlePostError(data){
        console.log(data.detail.response);
      }

    }
    window.customElements.define(NuevomovimientoApp.is, NuevomovimientoApp);
  </script>
</dom-module>
