<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../loginmx-app/loginmx-app.html" />

<dom-module id="logoutmx-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }

    </style>

    <iron-ajax id="hacerLogout"
               url="http://localhost:3000/v5/usuarios/logout"
               method="POST"
               handle-as="text"
               on-response="mostrarResultadoLogout">
             </iron-ajax>




    </div>
    <h1>{{mensaje}}</h1>
    <button class="btn btn-info" on-click="Cerrarsesion" hidden={{btnAceptar}}>Aceptar</button>

  </template>

  <script>

    class LogoutmxApp extends Polymer.Element {
      static get is() { return 'logoutmx-app'; }
      static get properties() {
        return {
           prop1:{
            type: String,
            value:"hidden"
          },
          prop2:{
            type: String,
            value:"visible"
          },
          usuario:{
            type: String,
            value:localStorage.getItem("sesionusuario")
          },
          mensaje:{
            type: String,
            value:'¿Esta seguro de salir de la  aplicación?'
          },
          btnAceptar:{
            type: Boolean,
            value: false
          }
        };
      }

      Cerrarsesion() {
        this.$.hacerLogout.headers.usuario=this.usuario
        this.$.hacerLogout.generateRequest();
      }

      mostrarResultadoLogout(data) {
        if (data.detail.response=="Ha cerrado sesión correctamente"){
          //inicializar componente movimientos enviano valuser
          this.mensaje="Ha cerrado sesión correctamente";
          this.btnAceptar= true;
        }
      }

    }
    window.customElements.define(LogoutmxApp.is, LogoutmxApp);
  </script>
</dom-module>
