<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-app">
  <template>
    <style>
      :host{
        display: block;
      }
    </style>
    <h2>Soy el Receptor</h2>
    <h3>Año:{{annoRecibido}}</h3>
    <h3>Origen:{{origenRecibido}}</h3>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorApp extends Polymer.Element {
      static get is() { return 'receptor-app'; }
      static get properties() {
        return {
          annoRecibido:{
            type:Number
          },
          origenRecibido:{
            type:String
          }
        };
      }

      procesarDatos(data){
        console.log("SOY TU HIJO: " + JSON.stringify(data))
        this.origenRecibido= data.origen
        this.annoRecibido= data.anno
      }
      }

    window.customElements.define(ReceptorApp.is, ReceptorApp);
  </script>
</dom-module>
